<div class="header">
  <div class="header-wrapper">
    <mat-toolbar class="backRoundTool">
      <mat-toolbar-row class="toolbar-row">
        <img class="logo" src="../../assets/img/sogetiLabs.png" alt="Logo">
        <span class="spacer"></span>
        <div class="button-container">
          <div class="username-display" *ngIf="isLoggedIn">
            Welcome, <span> {{ username }} </span>
          </div>
          <button mat-button>InShopping</button>
          <button mat-button [routerLink]="'/cart'">Cart ({{ cartlistCount }})</button>
          <button mat-button [routerLink]="'/wishList'">Wishlist ({{ wishlistCount }})</button>

          <ng-container *ngIf="isLoggedIn; else loggedOutButton">
            <button mat-button (click)="logOut()">Log out</button>
          </ng-container>
          <ng-template #loggedOutButton>
            <button mat-button [routerLink]="'/log-in'">Log in</button>
          </ng-template>

        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>