<div class="footer">
  <div class="footer-menu-wrapper">
      <div class="column information">
          <h3>Information</h3>
          <ul>
              <li><a href="/sitemap">Sitemap</a></li>
              <li><a href="/shipping-returns">Shipping & Returns</a></li>
              <li><a href="/privacy-policy">Privacy Notice</a></li>
              <li><a href="/conditions-of-use">Conditions of Use</a></li>
              <li><a href="/about-us">About us</a></li>
              <li><a href="/contactus">Contact us</a></li>
          </ul>
      </div>
      <div class="column customer-service">
          <h3>Customer service</h3>
          <ul>
              <li><a href="/search">Search</a> </li>
                  <li><a href="/news">News</a></li>
                                  <li><a href="/blog">Blog</a></li>
                                                  <li><a href="/recentlyviewedproducts">Recently viewed products</a></li>
                                  <li><a href="/compareproducts">Compare products list</a></li>
                                  <li><a href="/newproducts">New products</a></li>
          </ul>
      </div>
      <div class="column my-account">
          <h3>My account</h3>
          <ul>
              <li><a href="/customer/info" class="account">My account</a></li>
                  <li><a href="/customer/orders">Orders</a></li>
                                  <li><a href="/customer/addresses" class="">Addresses</a></li>
                                  <li><a href="/cart" class="ico-cart">Shopping cart</a></li>
                                  <li><a href="/wishlist" class="ico-wishlist">Wishlist</a></li>
          </ul>
      </div>
      <div class="column follow-us">
          <h3>Follow us</h3>
          <ul>
                  <li class="facebook"><a href="http://www.facebook.com/nopCommerce" target="_blank">Facebook</a></li>
                                                  <li class="twitter"><a href="https://twitter.com/nopCommerce" target="_blank">Twitter</a></li>
                                                  <li class="rss"><a href="/news/rss/1">RSS</a></li>
                                                  <li class="youtube"><a href="http://www.youtube.com/user/nopCommerce" target="_blank">YouTube</a></li>
                                                  <li class="google-plus"><a href="https://plus.google.com/+nopcommerce" target="_blank">Google+</a></li>
          </ul>
      </div>
      </div>
    </div>