/* FOOTER */


.footer{/*border-top: 2px solid #666666;*/
  margin: 0px;
  padding:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0px solid silver;
}



.footer a{text-decoration:none;color:#555555;}
.footer-tax-shipping{font-size:11px;}
.footer-tax-shipping a{text-decoration:underline;}
.footer-disclaimer{font-size:11px;}
.footer-poweredby{padding-top:10px;border-top:1px solid #EEEEEE;clear:both;font-size:11px;}
.footer-store-theme{margin:0 100px 0 10px;font-size:11px;}
.store-theme-list{background:#e3e3e3;border:solid 1px #3a3a3a;}

.footer-menu-wrapper {
  width: 950px;
  margin-bottom: 0;
  zoom: 1;
  padding: 20px;
  overflow: auto;
  background: none repeat scroll 0 0 #F6F6F4;
  border-radius: 4px;
  -o-border-radius: 4px;
  -icab-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.footer-menu-wrapper:after{
  content:".";
  display:block;
  clear:both;
  height:0;
  font-size:0;
  line-height:0;
  visibility:hidden;
}
.footer-menu-wrapper .column{
  float:left;
  text-align:left;
  width:25%;
}
.footer-menu-wrapper .column h3{
  font-size:10px;
  color:#333;
  text-transform:uppercase;
  font-weight:700;
}
.footer-menu-wrapper .column ul{
  margin:9px 0;
  padding:10px;
  list-style:none outside none;
}
.footer-menu-wrapper .column ul li{
  line-height:100%;
  margin-bottom:3px;
}