<div class="content">
    <div class="card-container"> 
            <mat-card>
                    <mat-card-header>
                        <mat-card-title>Password recovery</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <form [formGroup]="pwdrecoverForm" (ngSubmit)="onSubmit()" class="card-content">
                                <mat-form-field appearance="fill">
                                    <mat-label>New Password</mat-label>
                                    <input matInput formControlName="newPassword" required type="password">
                                    <mat-error *ngIf="pwdrecoverForm.controls['newPassword'].invalid">
                                      Password is required.
                                    </mat-error>
                                  </mat-form-field>
                            
                                  <mat-form-field appearance="fill">
                                    <mat-label>Confirm New Password</mat-label>
                                    <input matInput type="password" required  formControlName="confirmNewPassword">
                                    <mat-error *ngIf="pwdrecoverForm.get('confirmNewPassword')?.hasError('misMatch') && pwdrecoverForm.get('confirmPassword')?.dirty">
                                      Passwords do not match.
                                    </mat-error>
                                  </mat-form-field>
                                <div>
                              <button mat-raised-button type="submit">Submit</button>
                                </div>
                          </form>
                        </mat-card-content>
            </mat-card>
         </div>
     </div>   