.block{margin-bottom:15px;padding-bottom:5px;padding-left:0;}
.block .title{font-size:12px;letter-spacing:1px;text-align:left;padding:9px 7px;text-transform:uppercase;color:#333;border-radius:5px 5px 0px 0px;margin:0;background:none repeat scroll 0 0 #F6F6F4;}
.block .title strong{font-weight:700;}
.block .listbox{font-size:11px;padding:5px 10px 10px;line-height:18px;margin:0;border-radius:0px 0px 5px 5px;}
.block .listbox ul{margin:0;padding:0 0 0 2px;color:#5C5B5B;background-color:inherit;}
.block a{color:#5C5B5B;font-size:1.1em;font-weight:400;text-decoration:none;}
.block a:hover{color:#B80709;text-decoration:underline;font-weight:normal;}
.block li{list-style:none outside none;line-height:18px;padding:4px 1px 3px 13px;}
.block li.separator{background:none;height:1px;line-height:1px;width:auto;font-size:1px;margin:0;padding:0;}
.block-category-navigation .active > a,.block-manufacturer-navigation .active a,.block-vendor-navigation .active a{color:#5C5B5B;font-weight:700;text-decoration:none;}
.block-category-navigation .listbox ul .active,.block-manufacturer-navigation .listbox ul .active,.block-vendor-navigation .listbox ul .active{font-weight:700;}
.block-category-navigation ul.sublist{margin:0px 0px 0px 7px;}
.block-category-navigation ul.sublist .inactive a:hover{color:#5C5B5B;font-weight:400;}