<div class="wishlist-container">
  <h2>Wishlist</h2>
  <div *ngIf="wishlist.length > 0">
    <mat-card *ngFor="let product of wishlist">
      <mat-card-title>{{ product.name }}</mat-card-title>
      <img mat-card-image [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
        alt="{{ product.image }}" class="product-image">
      <mat-card-content>
        <p>{{ product.description }}</p>
        <mat-card-subtitle>Price: ${{ product.price }}</mat-card-subtitle>
        <mat-card-subtitle>Category: {{ product.category }}</mat-card-subtitle>
        <mat-card-subtitle>Inventory Status: {{ product.inventoryStatus }}</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="wishlist.length === 0">
    <p>Your wishlist is empty.</p>
  </div>
</div>