.container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
  }
  
  .content {
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden; */
  }

  .matCard{
    width: 250px;
  }

  .grid-container {
    justify-content: center;
    align-items: flex-start;
  }
  
  img {
    width: 250px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
  }